.card {
    &__logo a {
        position: absolute;
        left: 27px;
        top: 128px;

        width: 110px;
        height: 44px;

        border: 0;
        background-image: url('card__logo_lang_ru.svg');
        background-size: 110px 44px;
    }

    &__logo span {
        position: absolute;
        left: -9999px;
    }

    &__side_lang_en &__logo a {
        background-image: url('card__logo_lang_en.svg');
        top: 124px;
    }
}
