.card {
    &__logo {
        position: absolute;
        left: 27px;

        border: 0;

        span {
            position: absolute;
            left: -9999px;
        }
    }

    &__side_lang_ru &__logo {
        width: 110px;
        height: 42px;
        top: 129px;

        background-image: url('card__logo_lang_ru.svg');
        background-size: 110px 42px;
    }

    &__side_lang_en &__logo {
        width: 110px;
        height: 42px;
        top: 127px;

        background-image: url('card__logo_lang_en.svg');
        background-size: 110px 42px;
    }
}
