.card__side
{
    position: absolute;

    width: 560px;
    height: 320px;

    top: 0;
    left: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card__left
{
    position: absolute;
    overflow: hidden;
}

.card__left
{
    z-index: 2;

    width: 475px;
    height: 320px;
}

.card__rectangle
{
    position: relative;
    top: 10px;
    left: 10px;

    width: 465px;
    height: 300px;
}

.card__right
{
    position: absolute;
    left: 100%;
    overflow: hidden;
    height: 100%;
    width: 100px;
    margin-left: -85px;
}

.card__inner
{
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFFFFF;
    border-style: solid;
    border-width: 150px 0 150px 80px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    width: 0;
}

