@font-face {

    font-family: 'TextbookNew';
    src: url('font_face_textbook-new.woff') format('woff'),
         url('font_face_textbook-new.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font_face_textbook-new {
    font-family: 'TextbookNew', Arial, sans-serif !important;
}
