.card__switch
{
    position: absolute;
    z-index: 10;
    top: 318px;
    left: 10px;
}

.card__switch .link
{
    margin-right: 0.5em;
}

.card__switch .link,
.card__switch .link__inner
{
    float: left;

    line-height: 1;
}
