.link_disabled_yes,
.link_disabled_yes:hover,
a.link_disabled_yes:link,
a.link_disabled_yes:visited
{
    outline: 0;
    cursor: default !important;

    color: #ddd !important;
}

.i-ua_js_yes .link_disabled_yes .link__inner
{
    color: #555555;
    border-bottom: none;
}

