width = 545px
height = 300px

.ua_js_yes .card {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.ua_js_yes .card_visible {
    visibility: visible;
    opacity: 1;
}

.card {
    width: width
    height: height

    position: absolute;

    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    perspective: 1000;

    &__text {
        position: absolute;
        top: 30px
        left: 165px
        width: 300px
    }

    &__side {
        width: width
        height: height
        position: absolute;

        top: 0;
        left: 0;
    }

    &__rectangle {
        position: absolute;
        z-index: 2;

        width: 465px;
        height: 300px;
    }

    // as span
    // content: '▶'
    // &__triangle {
    //     position: absolute;
    //     left: 100%;
    //     margin-left: -73px;
    //     margin-top: 131px;
    //     transform: scaleX(2.4) scaleY(6.75);
    //     text-shadow: 2px 2px 5px rgba(50, 50, 50, 0), 2px 2px 5px rgba(50, 50, 50, 0.35);
    //     display: inline-block;
    //     color: #fff;
    //     font-size: 53px;
    //     z-index: 4;
    // }
    &__triangle {
        position: absolute;
        left: 100%;
        margin-left: -80px;
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff;
        border-style: solid;
        border-width: 150px 0 150px 80px;
        width: 0;
        height: 0;
        transform: rotate(0deg)
        &:after {
            content: "";
            position: absolute;
            left: -81px;
            top: -50%;
            margin-top: -149px;
            bottom: 0;
            width: 2px;
            height: 298px;
            background: #fff;
        }
    }

    &__info {
        background: #fff;
    }

    &__title {
        height: 98px;
        margin-bottom: 10px;
    }

    &__title, &__contact, &__extra {
        margin-bottom: 10px;
    }

    &__name {
        font-size: 25px;
        margin: 0;
        font-weight: normal;
    }

    &__position {
        font-size: 13px;
        font-weight: normal;
    }

    &__side {
        z-index: 1;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transform: rotateX(-180deg);
    }

    &_animation &__side_state_closed,
    &_animation &__side_state_opened {
        transition: all .4s ease-in-out;
    }

    &__side_state_closed {
        transform: rotateX(180deg);
    }

    &__side_state_opened {
        z-index: 2;
        transform: rotateX(0);
    }

    &__switch {
        position: absolute;
        z-index: 10;
        top: 310px;
        right: 83px;
        user-select: no;
        font-size: 14px;
    }

    &__switch .link {
        margin-left: 10px;
    }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .card__switch {
        font-size: 20px;
    }
}
